@import "../public/assets/fontawesome/solid.css";
@import "../public/assets/fontawesome/fontawesome.subset.css";

:root {
  --bright-teal: #299; /* lch(57.2% 33.7 197) */
  --dark-teal: rgb(0.87% 32.3% 32.4%); /* lch(31% 23 197) */
  --light-green: rgb(58.9% 100% 100%); /* lch(94% 33.7 197) */
  --gray: #282c34;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 1.44em;
  font-weight: normal;
}

body {
  background-color: var(--gray);
  /* 14pt at desktop vmin~1000, 10pt on iPhone vmin~500*/
  font-size: clamp(10px, calc(5px + 1vmin), 14px);
  color: var(--light-green);
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nav {
  margin-top: 1em;
  width: 100%;
  max-width: 30em;
  display: flex;
  flex-direction: row;
}

#nav > a {
  flex: 1;
  color: var(--bright-teal);
}

div.column {
  max-width: 40em;
}

ul.checklist {
  list-style-type: none;
}

button,
a.button {
  color: var(--dark-teal);
  background-color: transparent;
  border-width: 0;
  border-radius: 0.3em;
  font-size: inherit;
}

a.button {
  padding: 0 0.2em;
}

button.primary {
  color: var(--bright-teal);
  border-width: 1px;
  border-style: solid;
  border-color: var(--bright-teal);
  padding: 0.4em 0.8em;
}

button:hover,
a.button:hover {
  color: var(--gray);
  background-color: var(--bright-teal);
}

input {
  font-size: inherit;
}

textarea,
input[type="text"] {
  background-color: transparent;
  border-width: 0;
  color: var(--light-green);
}

textarea:focus,
input[type="text"].primary,
input[type="text"]:focus {
  background-color: var(--dark-teal);
}

button,
input,
select,
textarea {
  font-family: inherit;
}

textarea {
  width: 100%;
  background-color: transparent;
}

input[type="date"] {
  color: inherit;
  background-color: transparent;
}

a {
  color: var(--light-green);
  text-decoration-line: none;
}

p {
  margin: 0.5em;
}
