:root {
  --bright-teal: #299;
  --dark-teal: #055;
  --light-green: #efd;
  --gray: #282c34;
}

h1 {
  font-size: 1.44em;
  font-weight: normal;
}

body {
  background-color: var(--gray);
  font-size: calc(10px + 2vmin);
  color: var(--light-green);
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul.checklist {
  list-style-type: none;
}

button {
  color: var(--dark-teal);
  background-color: transparent;
  border-width: 0;
  border-radius: 0.3em;
}

button.primary {
  color: var(--bright-teal);
  border-width: 1px;
  border-style: solid;
  border-color: var(--bright-teal);
  padding: 0.4em 0.8em;
}

button:hover {
  color: var(--gray);
  background-color: var(--bright-teal);
}

textarea,
input[type="text"] {
  background-color: transparent;
  border-width: 0;
  color: var(--light-green);
}

textarea:focus,
input[type="text"]:focus {
  background-color: var(--dark-teal);
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

textarea {
  width: 100%;
  background-color: transparent;
}

input[type="date"] {
  color: inherit;
  background-color: transparent;
}

a {
  color: var(--dark-teal);
}
